**Exercício 1:** Trabalhando com estrutura de dados:
*   A partir da lista fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
*   mostrar a quantidade de maças
*   mostrar a quantidade de tangerina
*   mostrar a quantidade de bananas
*   mostrar a posição da banana a partir da posição 4
*   mostrar a a lista de frutas invertida
*   incluir uva e mostrar a nova lista
*   classificar e mostar a lista ordenada
*   remover o último integrante da lista

**Exercício 2:** Usando listas como filas
*   A partir da fila deque(["Eric", "John", "Michael"])
*   incluir terry
*   incluir Graham
*   deletar o primeiro que entrou
*   deletar o segundo que entrou
*   mostrar como ficou a fila