**Exercício 1:** Trabalhando com estrutura de dados:
*   A partir da lista fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
*   mostrar a quantidade de maças
*   mostrar a quantidade de tangerina
*   mostrar a quantidade de bananas
*   mostrar a posição da banana a partir da posição 4
*   mostrar a a lista de frutas invertida
*   incluir uva e mostrar a nova lista
*   classificar e mostar a lista ordenada
*   remover o último integrante da lista

In [19]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

print (fruits.count('apple'))

print (fruits.count('tangerine'))

print (fruits.index('banana'))

print (fruits.index('banana', 4))

fruits.reverse()
print (fruits)

fruits.append('grape')
print (fruits)

fruits.sort()
print (fruits)

fruits.pop()

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

**Exercício 2:** Usando listas como filas
*   A partir da fila deque(["Eric", "John", "Michael"])
*   incluir terry
*   incluir Graham
*   deletar o primeiro que entrou
*   deletar o segundo que entrou
*   mostrar como ficou a fila

In [20]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
print (queue)
queue.append("Terry")
print (queue)
queue.append("Graham")
print (queue)
queue.popleft()
print (queue)
queue.popleft()
print (queue)

deque(['Eric', 'John', 'Michael'])
deque(['Eric', 'John', 'Michael', 'Terry'])
deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
deque(['John', 'Michael', 'Terry', 'Graham'])
deque(['Michael', 'Terry', 'Graham'])