**Exercício 1:** Trabalhando com pandas:
---
Crie um DataFrame que tenha 3 colunas 2 duas linhas:
Produto | Quantidade | Preço.

*   primeira linha: Chocolate | 200 | 3,00
*   segunda linha os valores: Banana | 80 | 0,5o

In [ ]:
import pandas as pd

pd.DataFrame({'Sim':[10,15], 'Nao':[21, 4]})
df=pd.DataFrame({'Produto':['Chocolate','Banana'], 'Quantidade':[200,800],'Preço':[3,0.5]})
df

     Produto  Quantidade  Preço
0  Chocolate         200    3.0
1     Banana         800    0.5

**Exercício 2:** Trabalhando com Dataframe:
---
A partir das notas
> *   'História': [76, 84, 68, 94],
> *   'Matemática': [81, 67, 91, 86],
> *   'Inglês': [72, 93, 84, 76]

*   Criar um dataframe
*   Mostrar o dataframe original
*   Calcula a média de cada disciplina
*   Mostrar as médias calculadas

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'História': [76, 84, 68, 94],
    'Matemática': [81, 67, 91, 86],
    'Inglês': [72, 93, 84, 76]
})

print("Dataframe original:\n")
print(df)

def get_mean(scores):
    return sum(scores)/len(scores)

result = df.apply(get_mean)
print("\nMédia por disciplinas:\n")
print(result)

Dataframe original:

   História  Matemática  Inglês
0        76          81      72
1        84          67      93
2        68          91      84
3        94          86      76

Média por disciplinas:

História      80.50
Matemática    81.25
Inglês        81.25
dtype: float64